@tailwind base;
@tailwind components;
@tailwind utilities;

::-moz-selection {
  /* Code for Firefox */
  color: #fd8547;
  background: #dfff9e;
}

::selection {
  color: #fd8547;
  background: #dfff9e;
}

body {
  --sb-track-color: #ffffff;
  --sb-thumb-color: #343434;
  --sb-size: 10px;
}

body::-webkit-scrollbar {
  width: var(--sb-size);
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}
